*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.file-zone {
    display: grid;
    place-content: center;
    height: 100%;
    background-color: orange;
}

.file-zone--show {
    display: grid;
}

.file-zone--hide {
    display: none;
}

.file-zone > input[type=file] {
    display: none;
}

.report-editor {
    display: none;
    background-color: lightblue;
}

.report-editor--show {
    display: block;
}

.report-editor--hide {
    display: none;
}

