*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

input {
    border: none;
}

.file-zone {
    display: grid;
    place-content: center;
    height: 100%;
    background-color: orange;
}

.file-zone--show {
    display: grid;
}

.file-zone--hide {
    display: none;
}

.file-zone > input[type=file] {
    display: none;
}

.report-editor {
    display: none;
    grid-template-columns: auto 100px;
    place-content: center;
    min-height: 100%;
}

.report-editor__cell {
    border-bottom: 1px solid whitesmoke;
    padding: 1rem;
}

.report-editor__cell--store {
    grid-column: 1 / 2;
}

.report-editor__cell--delivery {
    grid-column: 2 / 3;
}

.report-editor--show {
    display: grid;
}

.report-editor--hide {
    display: none;
}

