<!-- Report table -->
<section class="table">
  <ng-container>
    <div class="table__cell">
      <h2>Склад</h2>
    </div>
    <div class="table__cell">
      <h2>Номенклатура, Базова одиниця вимірювання</h2>
    </div>
    <div class="table__cell">
      <h2>Кількість</h2>
    </div>
    <div class="table__cell table__cell--centered">
      <h2>Належить</h2>
    </div>
  </ng-container>
  <ng-container [formGroup]="reportForm">
    <ng-container formArrayName="reportRows">
      <ng-container *ngFor="let group of reportFormRows.controls">
        <div class="table__cell">{{group.controls['storage'].value}}</div>
        <div class="table__cell">{{group.controls['product'].value}}</div>
        <div class="table__cell">
          <input type="text" [formControl]="group.controls['delivery']">
        </div>
        <div class="table__cell table__cell--centered">
          <input type="checkbox" [formControl]="group.controls['include']">
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</section>

<!-- Report table controls -->
<aside class="controls">
  <button (click)="onSaveReport()">Зберегти</button>
</aside>
